@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #fff;
  padding: 16px 25px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0 auto;
}

main h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.todo-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.todo-wrapper input {
  flex: 1;
  font-size: 15px;
  width: 100%;
  padding: 4px 10px;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 5px;
  outline: 0;
}

.todo-wrapper input:focus {
  border: 1px solid rgb(110, 110, 110);
}

.add-todo {
  font-size: 16px;
  background-color: rgb(67, 112, 247);
  color: white;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-todo:hover {
  background-color: rgb(31, 81, 231);
}
.add-todo:active {
  opacity: 0.7;
}

.seperator {
  width: 100%;
  border-bottom: 1px solid rgb(164, 164, 164);
  margin: 10px 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style: none;
}

ul li {
  display: grid;
  grid-template-columns: 15px 1fr 1fr 20px;
  row-gap: 7px;
  align-items: center;
}

.delete-btn {
  font-size: 21px;
  color: rgb(190, 0, 0);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  opacity: 0.7;
}

.todo-item {
  padding-left: 10px;
}

.todo-item-done {
  text-decoration: line-through;
  text-decoration-color: rgb(0, 0, 0);
  color: rgb(172, 29, 29);
  text-decoration-color: rgb(172, 29, 29);
}

.todo-checkbox {
  border: none;
}
